<%- include ("includes/header") %>

<div class="container-fluid">
   <div class="row">
      <div class="col-md-8 mx-auto text-center  pt-4 pb-5">
         <!-- <h1><img alt="404" src="/public/img/404.png" class="img-fluid"></h1> -->
         <!-- <h1>Sorry! Page not found.</h1> -->

		 <% if (message == "") { %>
         	<h3>Unfortunately the page you are looking for has been moved or deleted.</h3>
		 <% } else { %>
			<h3><%= message %></h3>
		 <% } %>

         <div class="mt-5">
            <a class="btn btn-outline-primary" href="/"><i class="mdi mdi-home"></i> GO TO HOME PAGE</a>
         </div>
      </div>
   </div>
</div>
<!-- /.container-fluid -->

<%- include ("includes/footer") %>
