<%- include ("includes/header") %>

<div class="container-fluid">
   <div class="video-block section-padding">
      
      <div class="row">
        <div class="col-md-12" style="margin-top: 50px;">
            <h3 class="text-center">Pro Version:</h3>
        </div>
      </div>

      <div class="row offset-md-4" style="color: black; font-size: 20px; margin-top: 50px; margin-bottom: 50px;">
        <ol>
            <li>All the features of free version + </li>
            <li>Email Verification during Signup</li>
            <li>Forgot Password feature</li>
            <li>Like / Dislike a Video</li>
            <li>Subscribe to Channels</li>
            <li>Search Videos by Categories and Tags</li>
            <li>Watch History</li>
            <li>Update Profile Picture and Cover Photo</li>
            <li>Add Social Media Links</li>
            <li>Add Playlist</li>
        </ol>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">See the Pro Features in action:</h3>
        </div>
      </div>

      <div class="row" style="margin-top: 50px;">
        <div class="offset-md-2">
          <iframe width="860" height="515" src="https://www.youtube.com/embed/p5UeST2Z1Vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row offset-md-4" style="color: black; font-size: 20px; margin-top: 50px; margin-bottom: 50px;">
        Kindly read README.txt to get Pro version.
      </div>

   </div>
</div>
<!-- /.container-fluid -->

<%- include ("includes/footer") %>
